body {
background-color: #E2EDFF;
}
.jumbotron{
    padding-top: 6rem;
    background-color: #E2EDFF;
}

section{
    scroll-margin-top: 5rem;
}

.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url('./lwave1.svg');
}

.socmed{
    position: fixed;
    bottom:-140px;
    right:20px;
    height: 150px;
    width: 50px;
    /* background-color: #002E74; */
    border-radius: 10px 10px 0 0;
    border-top: solid gray 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.modal-dialog{
    max-width: none;
    display: flex;
    justify-content: center;
}

.icon-socmed{
    
    padding-left: 10px;
    padding-top: 20px;

}

.socmed:hover{
    bottom:0px;
    transition: 500ms;
}

.projectParrent{
    width:100%;
    margin:auto;
}

.projectCard{
    /* display: flex; */
    height: 350px;
    width: 392px;
    background: white;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.2s;
}

.projectCard:hover{
    transform: scale(1.02); 
}

.projectContainer{
    display: flex;
}

.projectContainer > *{
    margin-right: 30px;
}

.cardImg{
    width: 392px;
    height: 250px;
    margin-left: -12px;
    object-fit: cover;
}

.cardTextContainer{
    align-items: center;
    padding: 20px 15px;
    font-family: Raleway;
}

.cardImgPhone{ 
    background-image: url('img/projects/Scale 1.jpg');
    background-size: cover;
    width: 392px;
    height: 250px;
    margin-left: -12px;
    background-position-y: -30px;
}

.cardTextTitle{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

/* .loaderWrapper{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    background-color:#7f72f0;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeOut;
    animation-duration: 1s;
}

@keyframes fadeOut {
    from{opacity: 100%;}
    to{opacity: 0%;}
} */

/* splash screen */

.intro{
    position: fixed;
    z-index: 10000;
    left:0;
    top:0;
    width: 100%;
    height: 100vh;
    background-image: url(/img/background.jpg);
    transition: 0.5s;
    background-size: cover;
}

.logo{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    animation-name: fadeOut;
    animation-duration: 1s;
    z-index: 10001;
}
@keyframes fadeOut {
    from{opacity: 0%;}
    to{opacity: 100%;}
}

.logo.active{
    bottom:0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 130px;
    opacity:0;
    transition: ease-in-out 0.5s;
}

.jumbotron{
    display:flex;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}

.profpic{
    width: 350px;
    height: 350px;
    /* background-image: url('/img/blob-new.svg'); */
    background-position: 35px -9px;
}

.circle{
    top: -112px;
    left: 658px;
    width: 922px;
    height: 902px;
    /* background: var(--unnamed-color-387546) 0% 0% no-repeat padding-box; */
    background: #387546 0% 0% no-repeat padding-box;
    opacity: 1;
}

.about{
    display: flex;
}

.programmingPic{
    width: 339px;
}

.project2{
    font-size: 50px;
    margin-top: -10px;
    font-weight: 600;  
}

.jumbotronText > h1{
    font-size: 70px;
}

@media (width >= 1580px) {
    .jumbotronText {
      width:433px !important;
    }

    .jumbotron{
        display: flex;
        margin-top: 70px;
        justify-content: space-evenly;
        align-items: center;
        padding: 4rem 350px;
    }

    
  }

@media (width >=850px) {
    .jumbotronText {
        /* transform: skewY(-11deg); */
        margin-top: 50px;
    }
    .skillContainer {
        display: flex;
        justify-content: center;
        gap: 100px;
    }
    

    .skillCard {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        height:325px;
    }
}

@media (width <=550px) {

    .skillContainer{
        display:'flex';
        flex-direction: column;
    }

    .skillCard{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        height: 325px;
        margin: auto;
        margin-bottom: 50px;
    }

    .newSocmedContainer{
        display:none !important;
    }
    .project2{
        font-size: 35px;
        margin-top: -10px;
        font-weight: 600;
    }
    .programmingPic{
        width:0px;
    }
    .jumbotron{
        display: flex;
        margin-top: 65px;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .jumbotron > h1 {
        margin-top: 35px;
        
    }
    .jumbotronText{
        width:100% !important;
    }

    .jumbotronText > h1 {
        font-size: 60px;
    }

    .socmed {
        position: fixed;
        right: 5px;
        height: 130px;
        width: 50px;
        /* background-color: #002E74; */
        border-radius: 10px 10px;
        top: 80px;
        transition: 1s;
        z-index: 1;
    }

    .icon-socmed{
        padding: 10px 0px 10px 10px;
    }
    .profpic{
        background-image: url(/img/blob2.svg);
        background-position: 35px -9px;
        width: 90% !important;
        height: 90% !important;
    }

        .projectContainer>* {
            margin-right: 0px;
        }
}

@media (width >=1000px) {
    .aboutDetail{
        width:50%;
    }
}

.newSocmedContainer {
    display: flex;
    flex-direction: column;
    height: 152px;
    align-items: center;
    justify-content: space-evenly;
    
}

@media (width>=1000px){
    .newSocmedContainer {
        display: flex;
        flex-direction: column;
        height: 152px;
        align-items: center;
        justify-content: space-evenly;
        margin-right:20px;
    }
}

@media (width>=1870px){
    .newSocmedContainer {
        display: flex;
        flex-direction: column;
        height: 152px;
        align-items: center;
        justify-content: space-evenly;
        margin-right:-100px
    }
}

.newSocmedContainer > a:hover {
    transform: scale(1.2);
    transition: transform 0.2s ;
    transition-timing-function: ease-in-out;
}
.skillDetailTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.skillDetailContent {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.skillDetailName {
    margin-right: 10px;
    min-width: 60px;
}

.skillDetailBar {
    width: 90%;
    height: 10px;
    background-color: #E2EDFF;
    border-radius: 10px;
}

.skillDetailText{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 5px;
}

.skillDetailPercentageReact {
    width: 65%;
    height: 10px;
    background-color: #002E74;
    border-radius: 10px;
}

.skillDetailPercentageCSS {
    width: 85%;
    height: 10px;
    background-color: #002E74;
    border-radius: 10px;
}

.skillDetailPercentageHTML {
    width: 75%;
    height: 10px;
    background-color: #002E74;
    border-radius: 10px;
}

.skillDetailPercentageNode {
    width: 85%;
    height: 10px;
    background-color: #002E74;
    border-radius: 10px;
}

.skillDetailPercentagePHP {
    width: 60%;
    height: 10px;
    background-color: #002E74;
    border-radius: 10px;
}

.skillDetailPercentageMySQL {
    width: 65%;
    height: 10px;
    background-color: #002E74;
    border-radius: 10px;
}

.skillDetailPercentageRN {
    width: 30%;
    height: 10px;
    background-color: #002E74;
    border-radius: 10px;
}

@media (width >= 1440px) {
   
    .jumbotron {
        margin: 250px 0px
    }
    
    #about {
        margin: 150px 0px
    }

    #skills {
        margin: 150px 0px
    }

    #projects {
        margin: 100px 0px
    }

    #contact {
        margin: 50px 0px
    }
  }

  @media (width <= 550px) {
    
    #about {
        margin: 50px 0px
    }

    #skills {
        margin: 50px 0px
    }

    #projects {
        margin: 100px 0px
    }

    #contact {
        margin: 50px 0px
    }
  }