body {
background-color: #B9E6FF;
}
.jumbotron{
    padding-top: 6rem;
    background-color: transparent;
}

section{
    scroll-margin-top: 5rem;
}

.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url('./lwave1.svg');
}

.socmed{
    position: fixed;
    bottom:-140px;
    right:20px;
    height: 150px;
    width: 50px;
    /* background-color: #002E74; */
    border-radius: 10px 10px 0 0;
    border-top: solid gray 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.modal-dialog{
    max-width: none;
    display: flex;
    justify-content: center;
}

.icon-socmed{
    
    padding-left: 10px;
    padding-top: 20px;

}

.socmed:hover{
    bottom:0px;
    transition: 500ms;
}

.projectParrent{
    width:100%;
    margin:auto;
}

.projectCard{
    /* display: flex; */
    height: 350px;
    width: 392px;
    background: white;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.2s;
    margin-left: auto;
    margin-right: auto;
}

@media only screen 
  and (min-width: 991px) 
  and (max-width: 1366px) {
    .projectCard{
        /* display: flex; */
        height: 350px;
        width: 311px;
        background: white;
        margin-bottom: 50px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: transform 0.2s;
        margin-left: auto;
        margin-right: auto;
    }
  }

.cardImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.cardTextContainer{
    align-items: center;
    padding: 20px 15px;
    font-family: Raleway;
}

.cardImgPhone{ 
    background-image: url('img/projects/Scale 1.jpg');
    background-size: cover;
    /* width: 392px; */
    height: 250px;
    /* margin-left: -12px; */
    background-position-y: -30px;
}

.cardImgPhoneSmarthome{ 
    background-image: url('img/projects/smarthome_1.jpg');
    background-size: cover;
    /* width: 392px; */
    height: 250px;
    /* margin-left: -12px; */
}

.cardTextTitle{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

/* .loaderWrapper{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    background-color:#7f72f0;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeOut;
    animation-duration: 1s;
}

@keyframes fadeOut {
    from{opacity: 100%;}
    to{opacity: 0%;}
} */

/* splash screen */

.intro{
    position: fixed;
    z-index: 10000;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.logo{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    animation-name: fadeOut;
    animation-duration: 1s;
    z-index: 10001;
}
@keyframes fadeOut {
    from{opacity: 0%;}
    to{opacity: 100%;}
}

.logo.active{
    bottom:0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 130px;
    opacity:0;
    transition: ease-in-out 0.5s;
}

.jumbotron{
    display:flex;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}

.profpic{
    width: 350px;
    height: 350px;
    /* background-image: url('/img/blob-new.svg'); */
    background-position: 35px -9px;
}

.circle{
    top: -112px;
    left: 658px;
    width: 922px;
    height: 902px;
    /* background: var(--unnamed-color-387546) 0% 0% no-repeat padding-box; */
    background: #387546 0% 0% no-repeat padding-box;
    opacity: 1;
}

.programmingPic{
    width: 339px;
}

.project2{
    font-size: 50px;
    margin-top: -10px;
    font-weight: 600;  
}

.jumbotronText > h1{
    font-size: 70px;
}

@media (width >= 1580px) {
    .jumbotronText {
      width:433px !important;
    }

    .jumbotron{
        display: flex;
        margin-top: 70px;
        justify-content: space-evenly;
        align-items: center;
        padding: 4rem 350px;
    }

    
  }

@media (width >=850px) {
    .jumbotronText {
        /* transform: skewY(-11deg); */
        margin-top: 50px;
        /* color:#FFFFFF; */
    }
    .skillContainer {
        display: flex;
        justify-content: center;
        gap: 100px;
    }
    

    .skillCard {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        height:325px;
    }
}

@media (width <=550px) {

    .hiddenPhone{
        visibility: hidden;
        width:0%
    }

    .lottieBackground{
        scale: 1 !important;
    }

    .skillContainer{
        display:'flex';
        flex-direction: column;
    }

    .skillCard{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        height: 325px;
        margin: auto;
        margin-bottom: 50px;
    }

    .newSocmedContainer{
        display:none !important;
    }
    .project2{
        font-size: 35px;
        margin-top: -10px;
        font-weight: 600;
    }
    .programmingPic{
        width:0px;
    }
    .jumbotron{
        display: flex;
        margin-top: 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .jumbotron > h1 {
        margin-top: 35px;
        
    }
    .jumbotronText{
        width:100% !important;
    }

    .jumbotronText > h1 {
        font-size: 60px;
    }

    .socmed {
        position: fixed;
        right: 5px;
        height: 130px;
        width: 50px;
        /* background-color: #002E74; */
        border-radius: 10px 10px;
        top: 80px;
        transition: 1s;
        z-index: 1;
    }

    .icon-socmed{
        padding: 10px 0px 10px 10px;
    }
    .profpic{
        background-image: url(/img/blob2.svg);
        background-position: 35px -9px;
        width: 90% !important;
        /* height: 90% !important; */
    }

        .projectContainer>* {
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        }
}

@media (width >=1000px) {
    .aboutDetail{
        width:50%;
    }
    .aboutText{
        width: 50%;
    }

    .projectCard:hover{
        transform: scale(1.02); 
    }

    .about{
        display: flex;
        gap: 40px;
    }
}

.newSocmedContainer {
    display: flex;
    flex-direction: column;
    height: 152px;
    align-items: center;
    justify-content: space-evenly;
    
}

.socmedCircle {
    background-color: transparent;
    color: #002E74;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media (width>=1000px){
    .newSocmedContainer {
        display: flex;
        flex-direction: column;
        height: 152px;
        align-items: center;
        justify-content: space-evenly;
        margin-right:20px;
    }

    .projectContainer > *{
        margin-right: 30px;
    }
}

@media (width>=1870px){
    .newSocmedContainer {
        display: flex;
        flex-direction: column;
        height: 152px;
        align-items: center;
        justify-content: space-evenly;
        margin-right:-100px
    }
}

.newSocmedContainer > a:hover {
    text-decoration: none;
    background-color: #002E74;
    color:white;
    transition-timing-function: ease-in-out;
}
.skillDetailTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.skillDetailContent {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.skillDetailName {
    margin-right: 10px;
    min-width: 60px;
}

.skillDetailBar {
    width: 90%;
    height: 10px;
    background-color: #B9E6FF;
    border-radius: 10px;
}

.skillDetailText{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 5px;
}

.skillDetailPercentageReact {
    width: 65%;
    height: 10px;
    background-color: #002E74;
    border-radius: 10px;
}

.skillDetailPercentageCSS {
    width: 85%;
    height: 10px;
    background-color: #002E74;
    border-radius: 10px;
}

.skillDetailPercentageHTML {
    width: 75%;
    height: 10px;
    background-color: #002E74;
    border-radius: 10px;
}

.skillDetailPercentageNode {
    width: 85%;
    height: 10px;
    background-color: #002E74;
    border-radius: 10px;
}

.skillDetailPercentagePHP {
    width: 60%;
    height: 10px;
    background-color: #002E74;
    border-radius: 10px;
}

.skillDetailPercentageMySQL {
    width: 65%;
    height: 10px;
    background-color: #002E74;
    border-radius: 10px;
}

.skillDetailPercentageRN {
    width: 30%;
    height: 10px;
    background-color: #002E74;
    border-radius: 10px;
}

.lottieBackground{
    position: absolute;
    z-index: -1;
    width: inherit;
    left:0;
    right:0;
    margin-left:auto;
    margin-right: auto;
    scale: 1.2;
    transition: opacity 0.5s ease-in-out;
}

/* @media (width <= 1400px)  {
    .lottieBackground{
        position: absolute;
        z-index: -1;
        width: 100%;
        height:100%;
        left:0;
        right:0;
        margin-left:auto;
        margin-right: auto;
        scale: 1.2;
        transition: opacity 0.5s ease-in-out;
    }
} */

#skills{
    background-image: url(/img/projects/React-icon.svg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}


@media (width >= 1000px) {
   
    .jumbotron {
        margin: 250px 0px
    }
    
    #about {
        padding: 150px 0px;
        background-color:#B9E6FF;
    }

    #skills {
        padding: 150px 0px
    }

    #projects {
        margin: 100px 0px
    }

    #contact {
        margin: 50px 0px
    }

    .projectContainer{
            /* display: flex; */
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            /* background-color: #2196F3; */
            /* padding: 25px; */
            /* justify-content: center; */
            /* text-align: center; */
            margin: 0px 160px;
    }
  }

  @media (min-width:1000px) and (max-width:1300px){
   
    .jumbotron {
        margin: 0px 0px
    }
  }

  @media (width <= 550px) {

    .jumbotron{
        height: 100vh;
    }
    
    #about {
        margin: 50px 0px;
    }

    #skills {
        padding: 50px 0px;
    }

    #projects {
        margin: 100px 0px;
    }

    #contact {
        margin: 50px 0px;
    }

    .aboutMePhone {
        text-align: center;
    }
  }

  .nav-link{
    color:#002E7480 !important
  }

  .nav-item {
    position: relative;
  }

  .nav-item>a:after,
  .activeNavbar:after
  {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -6px;
    visibility: hidden;
    left: 0;
    background-color: #002E74;
    transition: all 0.3s ease-in-out 0s;
  }

  .nav-item>a:hover:after,
  .activeNavbar:after
  {
    visibility: visible;
    width:100%;
  }

  .activeNavbar {
    color:#002E74 !important
  }