.jumbotron{
    padding-top: 6rem;
    background-color: #e2edff;
}

section{
    scroll-margin-top: 5rem;
}

.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url('./lwave1.svg');
}

.socmed{
    position: fixed;
    bottom:-90px;
    right:20px;
    height: 100px;
    width: 50px;
    background-color: #7f72f0;
    border-radius: 10px 10px 0 0;
}

.icon-socmed{
    
    padding-left: 10px;
    padding-top: 20px;

}

.socmed:hover{
    bottom:0px;
    transition: 500ms;
}